/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Your code starts here! */

body {
    max-width: 876px;
    margin: 0 auto;
}

header,
section,
footer {
    width: 96%;
    margin: 25px auto 25px;
}

nav {
    width: 100%;
    text-align: center;
    display: none;
}

ul {
    width: 100%;
}

li {
    width: 100%;
    color: #cbcbcb;
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: #bcbcbc;
    font-size: 25px;
}

.logo {
    margin: 5px auto;
    width: Calc(183px * 2);
    display: block;
}

#banner {
    border-bottom: 4px solid black;
    padding-bottom: 50px;
}
#cta{
    text-align: center;
    margin-bottom: 25px;
}

#cta h1 {
    font-size: 150px;
}

#cta button {
    width: 50%;
    background: rgb(23, 208, 55);
    background: linear-gradient(135deg, rgba(23, 208, 55, 1) 0%, rgba(192, 216, 231, 1) 50%, rgba(1, 99, 188, 1) 100%);
    font-size: 50px;
    padding: 15px 0;
    margin: 25px 0;
}

#banner img {
    display: block;
    margin: 0 auto;
    width: 100%;
}