/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Your code starts here! */

body {
    max-width: 876px;
    margin: 0 auto;
}

header,
section,
footer {
    width: 96%;
    margin: 0 auto;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 16px;
    line-height: 32px;
}

header {
    position: fixed;
    top: 0px;
    background-color: white;
    width: 100vw;
    height: 45px;
}

.active-header {
    height: 100vh;
}
/* Header */
nav {
    width: 100%;
    text-align: center;
    height: Calc(100vh - 36px);
    display: none;
}

.active-nav {
    display: block;
    position: absolute;
    top: 50px;
}

ul {
    width: 100%;
    height: 100%;
}

li {
    display: inline-block;
    width: 100%;
    height: Calc(100%/6);
    color: #cbcbcb;
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: #bcbcbc;
    font-size: 25px;
}



.logo-container {
    width: 183px;
    height: 36px;
    margin: 5px auto;
}

.logo1 {
    background: url('../img/logo.png');
}

.logo2 {
    background: url('../img/logo-lit.png');
}


/* Banner */
#banner,
#main,
#contact {
    margin-top: 40px;
    border-bottom: 4px solid black;
    padding: 25px 0;
}

#cta {
    text-align: center;
    margin-bottom: 50px;
}

#cta h1 {
    font-size: 75px;
}

#cta button {
    width: 50%;
    background: rgb(23, 208, 55);
    background: linear-gradient(135deg, rgba(23, 208, 55, 1) 0%, rgba(192, 216, 231, 1) 50%, rgba(1, 99, 188, 1) 100%);
    font-size: 25px;
    padding: 15px 0;
    margin: 25px 0;
    box-shadow: 5px 5px 8px #888;
}

#banner img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

/* Main  */
article {
    padding: 15px 0;
}

#main img {
    width: 100%;
}

/* Contact */

#contact,
footer {
    text-align: center;
}

footer {
    margin-top: 2%;
}


@media screen and (min-width: 768px) {

    .full-width {
        width: 96%;
    }

    .half-width {
        width: 48%;
        float: left;
    }

    .third-width {
        width: Calc(96%/3);
        float: left;
    }

    header {
        height: 45px;
        width: 100%;
        max-width: 876px;;
        margin: 0 auto;
        padding-bottom: 14px;
    }

    nav {
        height: 36px;
        width: Calc(100% - 184px);
        float: left;
        display: block;
        text-align: left;
    }

    ul {
        width: 100%;
    }

    li {
        width: Calc(100%/6);
        float: left;
        height: 24px;
        padding: 10px 0;
        /* padding-left: 3%; */
    }



    li a {
        font-size: 16px;
    }

    li a:hover {
        font-size: 20px;
    }

    li a:active {
        color: rgba(1, 99, 188, 1);
    }

    #logo.logo1 {
        width: 183px;
        height: 36px;
        background: url('../img/logo.png');
        float: right;
    }

    #logo.logo1:hover {
        background: url('../img/logo-lit.png');
    }

    #banner,
    #main {
        overflow: auto;
    }

    #cta {
        margin: auto;
        padding-top: 5%;
    }

    #cta button {
        background: none;
    }

    #cta button:hover {
        background: rgb(23, 208, 55);
        background: linear-gradient(135deg, rgba(23, 208, 55, 1) 0%, rgba(192, 216, 231, 1) 50%, rgba(1, 99, 188, 1) 100%);
    }

    #features,
    #services,
    #product {
        margin-right: 2%;
    }

    #about, #vision{
        float: right;
    }
    
    #main, #contact {
        margin-top: 0;
    }
}